.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: px 50;
    font-style: Impact, sans-serif; }

.Right-side {
    font-style: Impact, sans-serif ;
font-size: 15px;
}


    
    
