header {
    display: flex;
    justify-content: space-between;
    font-style: Arial black;
font-size: 17px;
margin: 50px 100px;
}

.home  { 
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif ;
}
    
    
